apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "user": "USERNAME",
      "password": "PASSWORD",
      "vsphere_server": "VSPHERE_HOST",
      "allow_unverified_ssl": "true"
    }
